.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --star-off-color: grey;
    --star-on-color: gold;
}

.star {
    stroke: #00000077;
    stroke-width: 20px;
    filter: drop-shadow(0 0 0 #00000088);
    transition: filter 0.4s;
    &.active {
        animation: off-to-on forwards;
        animation-duration: .2s;
        filter: drop-shadow(3px 5px 5px #00000088);
    }
    &.inactive {
        animation: on-to-off forwards;
        animation-duration: .2s;
    }    
}

@keyframes off-to-on {
    from {
         color: var(--star-off-color);
    }
    to {
        color: var(--star-on-color);
    }
}
@keyframes on-to-off {
    to {
         color: var(--star-off-color);
    }
    from {
        color: var(--star-on-color);
    }
}

.rating-number > span {
    vertical-align: middle;
}